   /* Universal Styles */
html {
    background-color: rgb(238, 238, 228);
    font-size: 16px;
  }

body {
    margin: 0;
}

section {
    padding: 1rem 1rem;
}
    
   /* Header */
header {
    height: auto;
}
  
nav {
    background-color: rgb(103, 101, 101);
    display: flex;
    justify-content: right;
    padding-bottom: 0px;
}

.navbar {
    color: white;
    display: flex;
}

.navbar li {
    margin-right: 25px;
    color: white;
    text-decoration: underline;
}

a {
    color: white;
}

      /* Banner Section */
.container-1 {
  background-image: url('/Users/edgardobaltazar/Desktop/Web-Projects/personalportfolio/resources/pictures/losangeles.jpg');
  background-size: cover;
  background-position-y: 35%;
  height: 18rem;
  width: auto;
  opacity: 0.8;
  padding-top: 1px;
}

.container-1 h1 {
    color: white;
    text-align: center;
    padding-top: 4rem;
    font-family:'Times New Roman', Times, serif;
}


.banner {
    text-align: center;
}


.banner p {
    color: white;
    padding-bottom: 1rem;
    font-family:'Times New Roman', Times, serif;
}
  
           /* Skill Section */
.skillscontainer {
    background-color: rgb(103, 101, 101);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    align-items: center;
    
}

.skills h3 {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    border: 3px solid white;
    padding: 2px 3px;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace
}

.skill li {
    display: inline-flex;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 2px 3px;
}

  
.about-me {
    background-color: rgb(238, 238, 228);
    display: inline-flex;
}

.about-me h3 {
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
    font-size: 2.2rem;
    font-style: oblique;
}

.desktop {
   height: 25rem;
   width: 25rem;
   margin-left: 2rem;
   margin-right: 2rem;
   padding: 1rem 2rem 1rem;
   border: 2px solid black;
}

        /* About Me Section */

#flex-1 {
    display: flex;
}

.about {
    display: block;
}

.about-me p {
    text-align: unset;
    line-height: 1.7rem;
    color:rgb(4, 4, 26);
}


   /* Projects Section */
  
.projects {
    margin: auto 0;
    text-align: center;
}

.projects h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.4rem;
    font-style: oblique;
    font-family:'Courier New', Courier, monospace;
}

#flex-2 {
    display: flex;
    flex-wrap: wrap;
}

.container-2 {
    display: flex;
    justify-content: center;
}

.project {
    background-color: rgb(103, 101, 101);
    width: 35%;
    max-width: 450px;
    min-width: 350px;
    height: auto;
    margin-right: 2%;
    margin-left: 2%;
    padding: 25% auto;
    border: 4px black solid;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}


.project h4 {
    color: white;
    text-decoration: underline;
}

.project img {
    margin-bottom: 2rem;
    height: 15rem;
    width: 55%;
    min-width: 225px;
}

.project figcaption {
    padding: 2rem 1rem;
    color: white
}
  
  
img {
    opacity: 0.8;
    border: .5rem white double;
}


@media only screen and (max-width: 1451px) {

    .desktop {
        height: 29rem;
        width: 27rem;
    }
}

@media only screen and (max-width: 1275x) {

    .desktop {
        height: 35rem;
        width: 27rem;
    }
}


@media only screen and (max-width: 1253px) {
    
    .skills h3 {
        font-size: 1rem;
        border: 3px solid white;
        padding: 1px 2px;
    }
    
    .skill li {
        font-size: 0.9rem;
        margin-left: 1rem;
        margin-right: 1em;
    }

    .desktop {
        height: 37rem;
        width: 29rem;
    }
}

@media only screen and (max-width: 1137px) {

    .about-me h3 {
        font-size: 1.8rem;
    }
    
    .desktop {
       height: 80%;
       width: 20rem;
       padding: 1rem 1rem 1rem;
    }

    .about-me p {
        font-size: .9rem;
        text-align: justify;
        line-height: 1.2rem;
        /* color:rgb(4, 4, 26); */
    }
 }

 @media only screen and (max-width: 900px) {
    
    #flex-1 {
     display: flex;
     flex-wrap: wrap;
     }

     .desktop {
        height: auto;
        width: 50%;
        margin: auto;
        padding: 1rem 1rem 1rem;
     }

     .project {
        width: 25%;
        min-width: 250px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .project img {
        margin-bottom: 1rem;
    }
    
    .project figcaption {
        font-size: 0.9rem;
        padding: 1rem 1rem;
    }
 }

@media only screen and (max-width: 868px) {
    
    .skills h3 {
        font-size: 0.9rem;
        border: 3px solid white;
        padding: 1px 2px;
    }
    
    .skill li {
        font-size: 0.9rem;
        margin-left: .5rem;
        margin-right: .5rem;
        border: 2px solid white;
    }
    
}

@media only screen and (max-width: 736px) {
    
    .skills h3 {
        font-size: 0.8rem;
        border: 2px solid white;
        padding: 1px 2px;
    }
    
    .skill li {
        font-size: 0.7rem;
        margin-left: .2rem;
        margin-right: .2rem;
    }

    .project {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 643px) {
    
    .skills h3 {
        font-size: 0.7rem;
        border: 2px solid white;
        padding: 1px 2px;
    }
    
    .skill li {
        font-size: 0.7rem;
        margin-left: .2rem;
        margin-right: .2rem;
    }
}

@media only screen and (max-width: 593px) {
    
    .skills h3 {
        font-size: 0.7rem;
        border: 2px solid white;
        padding: 1px 1px;
    }
    
    .skill li {
        font-size: 0.6rem;
        margin-left: .1rem;
        margin-right: .1rem;
        border: 1px solid white;
    }

    .project {
        padding-left: 5px;
        padding-right: 5px;
    }

    .project figcaption {
        font-size: 0.7rem;
        padding: 1rem 1rem;
    }
}


