/* Universal Styles */
html {
    background-color: rgb(238, 238, 228);
    font-size: 16px;
  }

body {
    margin: 0;
}

section {
    padding: 1rem 1rem;
}
  
  /* Header */
header {
    height: auto;
}
  
nav {
    background-color: rgb(103, 101, 101);
    display: flex;
    justify-content: right;
    padding-bottom: 0px;
}

.navbar {
    color: white;
    display: flex;
}

.navbar li {
    margin-right: 25px;
}


.container-1 {
  /* background-color: rgb(242, 171, 171); */
  background-image: url('/Users/edgardobaltazar/Desktop/Web-Projects/personalportfolio/resources/pictures/losangeles.jpg');
  background-size: cover;
  background-position-y: 35%;
  height: 18rem;
  /* text-align: center; */
  opacity: 0.9;
  padding-top: 1px;
}


.banner {
    text-align: center;
}

.banner h1 {
    padding-top: 4rem;
    color: white;
}

.banner p {
    color: white;
}
  
  
.skillscontainer {
    background-color: rgb(103, 101, 101);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    align-items: center;
    
}

.skills h3 {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    border: 3px solid white;
    padding: 2px 3px;
    border-radius: 5px;
}

.skill li {
    display: inline-flex;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 2px 3px;
}

  
.about-me {
    background-color: rgb(238, 238, 228);
}

.desktop {
   height: 100%;
   width: 25rem;
   margin-left: 2rem;
   margin-right: 2rem;
   padding: 1rem 2rem 1rem;
   border: 2px solid black;
}

#flex-1 {
    display: flex;
}

.about {
    display: block;
    text-decoration: underline;
    font-size: 2rem;
}

.about-me p {
    text-align: unset;
    line-height: 1.7rem;
    color:rgb(4, 4, 26);
}

  
.projects {
    /* background-color: rgb(146, 232, 169); */
    margin: auto 0;
}

.container-2 {
    /* background-color: white; */
}

.project {
    background-color: rgb(103, 101, 101);
    width: 35rem;
    height: auto;
    margin-right: 1rem;
    padding: 1rem auto;
    border: 4px black solid;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

#flex-2 {
    display: flex;
    flex-wrap: wrap;
}

.project h4 {
    color: white;
}

.project img {
    margin-bottom: 2rem;
}

.project figcaption {
    padding: 2rem 1rem;
    color: white;
}
  
/* p {
      font-size: 18px;
} */
  
img {
      height: 20rem;
      width: 19rem;
      opacity: 0.8;
      border: .5rem white groove;
}